body {
  font-family: Arial, sans-serif;
}

#login-form, #app {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

input {
  display: block;
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
}

li div {
  flex: 1;
}

li button {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  flex-shrink: 0;
}

li button:hover {
  background-color: darkred;
}

.header {
  display: flex;
  justify-content: flex-end;
}

#logout-button {
  background-color: red;
}

#logout-button:hover {
  background-color: darkred;
}
